---
import type { CollectionEntry } from 'astro:content';
import Post from './cards/Post.astro';
 
interface Props {
    posts: CollectionEntry<'blog'>[]
};

const {posts} = Astro.props;
---
<main>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 space-y-4">
        {posts.map(single => <Post 
            title={single.data.title} 
            preview={single.data.preview} 
            slug={single.slug} 
            description={single.data.description}
            />)}
    </section>
</main>